<ion-view view-title="Dashboard" ng-if="!getRecipeIsRetrieved()">
    <ion-content class="padding">
        <h3> Food history (average over the last two weeks)</h3>
        <p>Protein {{user.history.protein}} / {{user.protein}}</p>
        <p>Carbs {{user.history.carbs}} / {{user.carbs}}</p>
        <p>Fat {{user.history.fat}} / {{user.fat}}</p>
        <p>Salt {{user.history.salt}} / 5g</p>
        <p>Calcium {{user.history.calcium}} / 1.5g</p>
        <p>Iron {{user.history.iron}} / 30mg</p>
        <h3> Advice </h3>
        <p><b>Energy needs per day: </b>{{user.energy}} kcal</p>
        <div class="item range range-positive">
            <label style="width:130px">Breakfast  <span style="float:right">{{user.breakfast}}</span></label>
            <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="{{user.energy}}" ng-model="user.breakfast" ng-change="changeMeal('b')">
            <i class="icon ion-ios-sunny"></i>
        </div>
        <div class="item range range-positive">
            <label style="width:130px">Lunch <span style="float:right">{{user.lunch}}</span></label>
            <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="{{user.energy}}" ng-model="user.lunch" ng-change="changeMeal('l')">
            <i class="icon ion-ios-sunny"></i>
        </div>
        <div class="item range range-positive">
            <label style="width:130px">Dinner <span style="float:right">{{user.diner}}</span></label>
            <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="{{user.energy}}" ng-model="user.diner" ng-change="changeMeal('d')">
            <i class="icon ion-ios-sunny"></i>
        </div>
        <div class="item range range-positive">
            <label style="width:130px">Snacks <span style="float:right">{{user.rest}}</span></label>
            <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="{{user.energy}}" ng-model="user.rest" ng-change="changeMeal('r')">
            <i class="icon ion-ios-sunny"></i>
        </div>
        <h3>Meal preferences</h3>
        <label class="item item-input item-select">
            <div class="input-label">Difficulty level</div>
            <select ng-model="meal.dificulty">
                <option value="4">*****</option>
                <option value="4">****</option>
                <option value="3">***</option>
                <option value="2">**</option>
                <option value="1">*</option>
            </select>
        </label>
        <label class="item item-input">
            <span class="input-label">Ingredients</span>
            <input type="text" style="text-align: right;" ng-model="meal.ingredients">
        </label>
        <button class="button button-energized" style="float:right;margin-top:20px" ng-click="getMeal()">Give me a recipe!</button>
    </ion-content>
</ion-view>

<ion-view view-title="Dashboard" ng-if="getRecipeIsRetrieved()">
    <ion-content class="padding">
        <h3>Recipe details</h3>
        <img src="/img/kale.jpg"/>

        <h4>Ingredients (serves <font color="blue">4</font>)</h4>
        <ion-item>
            8 oz raw chorizo sausage
        </ion-item>
        <ion-item>
            2 cups sweet potato; chopped
        </ion-item>
        <ion-item>
            1 Tbl olive oil
        </ion-item>
        <ion-item>
            1/2 cup chopped onion
        </ion-item>
        <ion-item>
            2 cups chopped kale
        </ion-item>
        <ion-item>
            1 tsp garlic powder
        </ion-item>
        <ion-item>
            1 tsp cumin
        </ion-item>
        <ion-item>
            salt and pepper; to taste
        </ion-item>
        <ion-item>
            1 Tbl lime juice
        </ion-item>

        <p>&nbsp;</p>

        <h4>Instructions</h4>
        <p>Remove chorizo from casing and cook in a large saute pan for about 4 minutes. Remove and set aside. Add sweet potatoes, garlic powder, cumin and olive oil to the pan and cook for 5 minutes. Add the onions and cooked chorizo back to the pan, and cook for another 5 minutes. Add the kale and cook until wilted - about 2 minutes. Remove from heat, add lime juice, and season with salt and pepper to taste before serving.</p>
        <button class="button button-energized" style="float:right;margin-top:20px" ng-click="setRecipeIsRetrieved(false)">Back</button>
    </ion-content>
</ion-view>