<ion-view view-title="Chats">
  <ion-content>
    <label class="item item-input item-select">
            <div class="input-label">Vegetables and/or fruit</div>
            <select>
                <option >Vegetables and fruit</option>
                <option >Vegetables</option>
                <option >Fruit</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">Maand</div>
            <select>
                <option >January</option>
                <option >February</option>
                <option >March</option>
                <option >April</option>
                <option >May</option>
                <option >June</option>
                <option >July</option>
                <option >August</option>
                <option >September</option>
                <option >October</option>
                <option >November</option>
                <option >December</option>
            </select>
        </label>
        <h3> Class </h3>
        <ion-item>
          <ion-label>Label A</ion-label>
          <ion-checkbox color="green" checked="true"></ion-checkbox>
        </ion-item>
  </ion-content>
</ion-view>
