<ion-view view-title="Chats">
  <ion-content class="padding">
    <h4> Sustainability </h4>
    <label class="item item-input item-select">
        <div class="input-label">Vegetables and/or fruit</div>
            <select>
                <option >Vegetables and fruit</option>
                <option >Vegetables</option>
                <option >Fruit</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">Month</div>
            <select>
                <option >January</option>
                <option >February</option>
                <option >March</option>
                <option >April</option>
                <option >May</option>
                <option >June</option>
                <option >July</option>
                <option >August</option>
                <option >September</option>
                <option >October</option>
                <option >November</option>
                <option >December</option>
            </select>
        </label>
        <h4> Sustainability category </h4>
          <ion-checkbox class="item item-checkbox  checkbox-balanced" checked="true"> A</ion-checkbox>
          <ion-checkbox class="item item-checkbox  checkbox-balanced" checked="true"> B</ion-checkbox>
          <ion-checkbox class="item item-checkbox  checkbox-energized" checked="true"> C</ion-checkbox>
          <ion-checkbox class="item item-checkbox  checkbox-assertive" checked="true"> D</ion-checkbox>
          <ion-checkbox class="item item-checkbox  checkbox-assertive" checked="true"> E</ion-checkbox>
  </ion-content>
</ion-view>
